<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-config.dtd"> 
<!-- 核心内容 -->
<configuration>
   <!-- <settings>
	    加载log4j 
	    <setting name="logImpl" value="LOG4J" />
        </settings> -->
       <!-- 引用数据源配置文件 -->
       <properties resource="datasource.properties"></properties>
      <!-- 配置环境变量 -->
      <!-- 为实体类去别名
                   书写规范，一般跟数据库表中的表名相对应
          type:全路径        
       -->
	<typeAliases>
      <!-- <typeAlias alias="user" type="entity.User"/> -->
      <!-- 统一设置别名
               设置entity包下面的所有实体类的别名
               默认是类名
       -->
      <package name="entity"/>
    </typeAliases>
	<environments default="development">
      <!-- 配置一个具体的环境变量 -->
      <environment id="development">
         <!--配置一个事务管理器  -->
         <transactionManager type="JDBC"></transactionManager>
         <!--配置一个数据源
           mybatis自带的数据源POOLED 
                      基于tomcat的数据源 JNDI
                      -->
         <dataSource type="POOLED">
             <!-- 配置数据库驱动 -->
             <!-- <property name="driver" value="com.mysql.jdbc.Driver"/> -->
             <!-- 配置url  -->
             <!-- <property name="url" value="jdbc:mysql://localhost:3306/smbms?characterEncoding=UTF-8&amp;useUnicode=true&amp;zeroDateTimeBehavior=convertToNull"/> -->
             <!-- 配置username -->
             <!-- <property name="username" value="root"/> -->
             <!--   配置密码 -->
             <!-- <property name="password" value="1234"/> -->
             <property name="driver" value="${data.driver}"/>
             <property name="url" value="${data.url}"/>
             <property name="username" value="${data.username}"/>
             <property name="password" value="${data.password}"/>
         </dataSource>
      </environment>
   </environments>
   <!--配置实体类与数据库表的sql映射文件  -->  
   <mappers>
   <!--resource:是给我们书写映射文件的全路径  -->
      <!--用户  -->
     <!-- <mapper resource="dao/user/UserMapper.xml"/>
             供应商
     <mapper resource="dao/provider/ProviderMapper.xml"/>
              供应商地址
     <mapper resource="dao/address/AddressMapper.xml"/>
             账单
     <mapper resource="dao/bill/BillMapper.xml"/>
             角色
     <mapper resource="dao/role/RoleMapper.xml"/> -->
     <!-- 可以定义package进行指定包的扫描 -->
     <package name="dao"/>
   </mappers>   
</configuration>